<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <style type="text/css">
      {%- include 'style.css' without context %}
    </style>
    {% block header %}{% endblock %}
</head>
<body>
<header class="mx_Header">
    <img src="https://thelocal.chat/assets/the-local-logo.png" alt="The Local" />
</header>

<div class="content">
{% block body %}{% endblock %}
</div>

<div class="footer">
    <a href="https://thelocal.chat">The Local</a> · Powered by <a href="https://designmachines.studio">Design Machines</a>
</div>

</body>
</html>
